@import url('https://fonts.googleapis.com/css?family=Tektur&display=swap');

body {
    font-family: Tektur, serif;
    background: linear-gradient(270deg, #16222A 0%, #263943 100%);
}

p {
    color: rgb(0, 146, 175) ;
}

.navbar {
    background: linear-gradient(380deg, #16222A 0%, #263943 100%);
}

.nav-link {
    color: rgb(255, 255, 255);
}

.navbar-nav .nav-link.active {
    color: rgb(156, 156, 156)
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(156, 156, 156);
}

.sidebar {
    padding-bottom: 5em;
    color: rgb(0, 146, 175);
    background: linear-gradient(270deg, #16222A 0%, #263943 100%);
}

.btn-outline-primary {
    color: rgb(0, 146, 175);
    background: linear-gradient(270deg, #16222A 0%, #263943 100%);
}

.card {
    color: rgb(0, 146, 175);
    background: linear-gradient(270deg, #16222A 0%, #263943 100%);
}

.slide-text {
    color: rgb(0, 146, 175);
    margin: auto auto;
}

.footer-text {
    
    color: rgb(0, 146, 175);
    background: linear-gradient(180deg, #16222A 0%, #263943 100%);
    font-size: 14px;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}


@keyframes call {
    0%,
    100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
    }
   
    15% {
    transform: translateX(-30px) rotate(6deg);
    }
   
    30% {
    transform: translateX(15px) rotate(-6deg);
    }
   
    45% {
    transform: translateX(-15px) rotate(3.6deg);
    }
   
    60% {
    transform: translateX(9px) rotate(-2.4deg);
    }
   
    75% {
    transform: translateX(-6px) rotate(1.2deg);
    }
   }

.carousel-indicators {
    display: flex;
    align-items: center;
    margin: -30px;
}

.carousel-control-next {
    margin-top: 572.6px;
    margin-right: 202px;
    z-index: 2;
}

.carousel-control-prev {
    margin-top: 572.6px;
    margin-left: 202px;
    z-index: 2;
}

.wave-btn {
	width: 110px;
	height: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	overflow: hidden;

	position: relative;

	transition: all 0.8s ease 0s;
	-webkit-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	-ms-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;

	justify-content:center;
	align-items: center;

	border-radius: 0 0 10px 10px;
	text-decoration: none;
}
.wave-btn:hover{
  border-radius: 10px;
  transition: all 0.8s ease 0.2s;
  box-shadow: 0 0 40px rgba(0, 146, 175, 0.6);
}

.wave-btn:hover .wave-btn__waves{
  top: -50px;
}

.wave-btn__text {
  font-family: arial;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  z-index: 1;
}
.wave-btn__waves {
	position: absolute;
	width: 280px;
	height: 280px;
	background-color: rgb(0, 146, 175);
	top: 0;
	left: 0;
	-webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);

transition: all 0.8s ease 0s;
}
.wave-btn__waves:after,
.wave-btn__waves::before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 250%;
  height: 250%;
  transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
}  
.wave-btn__waves::before{
  background-color: #000;
  border-radius: 48%;

  animation: waves 5s infinite linear;
}
.wave-btn__waves::after{
  background-color: rgb(0,0,0,0.5);
  border-radius: 44%;

  animation: waves 10s infinite linear;
}


@keyframes waves{
  0%{
    transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
  }
  100%{
    transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
  }
}





@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}



